<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <title>Users List</title>
</head>
<body>
<main>
    <div th:replace="~{fragments/navbar}"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4 col-xxl-2 offset-sm-1 offset-md-2 offset-lg-3 offset-xl-4 offset-xxl-5">
                Content
            </div>
        </div>
    </div>
</main>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>