<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <title>Email confirmation success</title>
</head>
<body>
<main>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-center">Login Form</h2>
            </div>
        </div>
    </div>
</main>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>