<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/general :: head(title='Users List')}"></div>
<body>
<main>
    <div th:replace="~{fragments/general :: navbar(addUserVisible=true)}"></div>
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col">
                <table class="table table-hover">
                    <thead class="table-secondary">
                        <tr>
                            <th>Id</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Confirmed</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Middle Name</th>
                            <th>Roles</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr th:each="user: ${users.getContent()}">
                        <td th:text="${user.getId()}"/>
                        <td th:text="${user.getUsername()}"/>
                        <td>
                            <span th:text="${user.getEmail()}"></span>
                        </td>
                        <td>
                            <i th:if="${user.isEmailConfirmed()}" class="bi bi-check text-success"></i>
                            <i th:if="${!user.isEmailConfirmed()}" class="bi bi-question text-info"></i>
                        </td>
                        <td th:text="${user.getFirstName()}"/>
                        <td th:text="${user.getLastName()}"/>
                        <td th:text="${user.getMiddleName()}"/>
                        <td th:text="${#strings.listJoin(user.getRoles(), ', ')}"/>
                        <td><a class="btn btn-primary w-100" th:if="${user.getId() != 1}"
                               th:href="@{'/user/edit/' + ${user.getId()} + '/' + ${users.getPage()}}">Edit</a></td>
                        <td><a class="btn btn-danger w-100" th:if="${user.getId() != 1}"
                               th:href="@{'/user/delete/' + ${user.getId()} + '/' + ${users.getContent().size() > 1 ? users.getPage() : (users.getPage() - 1)}}">Delete</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a th:classappend="${users.getPage() <= 0 ? 'disabled' : ''}" class="btn btn-primary" th:href="@{'/user/list/' + ${users.getPage() - 1}}">Prev page</a>
            </div>
            <div class="col d-flex justify-content-center">
                Page<span th:text="${users.getPage() + 1}" class="mx-1"></span>of<span th:text="${users.getTotalPages()}" class="mx-1"></span>
            </div>
            <div class="col d-flex justify-content-end">
                <a th:classappend="${(users.getPage() + 1) >= users.getTotalPages() ? 'disabled' : ''}" class="btn btn-primary" th:href="@{'/user/list/' + ${users.getPage() + 1}}">Next page</a>
            </div>
        </div>
    </div>
</main>
<div th:replace="~{fragments/general :: bootstrap-js}"></div>
</body>
</html>