worker_processes 2;

events { worker_connections 1024; }

http {
    server {
        listen 80 default;
        listen [::]:80 default;
        server_name localhost;
        location / {
        	proxy_pass http://frontend:80;
        }
    }
    server {
    	    listen 8080;
    		server_name localhost;
    		location / {
    			proxy_pass http://backend:8080;
    		}
    	}
}