worker_processes 2;

events { worker_connections 1024; }

http {
    server {
        listen 80;
        server_name localhost;
        location / {
        	proxy_pass http://frontend:80;
        }
    }
    server {
    	    listen 8080;
    		server_name localhost;
    		location / {
    			proxy_pass http://backend:8080;
    	}
    }
    server {
    	    listen 5672;
    		server_name localhost;
    		location / {
    			proxy_pass http://rmq:5672;
    	}
    }
    server {
    	    listen 15672;
    		server_name localhost;
    		location / {
    			proxy_pass http://rmq:15672;
    	}
    }
}